{% extends 'base.html.twig' %}

{% block title %}Beebob - Se connecter
{% endblock %}

{% block body %}
	<form method="post" class="form">
		{% if error %}
			<div>Erreur d'authentification.</div>
		{% endif %}

		<h1 class="form__title">Connectez-vous !</h1>
		<div class="form__wrapper">
			<label for="inputLogin">Votre identifiant :</label>
			<input type="text" value="{{ last_username }}" name="login" id="inputLogin" autocomplete="username" required autofocus placeholder="flouet">
		</div>
		<div class="form__wrapper">
			<label for="inputPassword">Votre mot de passe :</label>
			<input type="password" name="password" id="inputPassword" autocomplete="current-password" required>
		</div>
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		<div class="form__login">
			<a href="" class="form__link">Pas de compte ? Incrivez-vous</a>
			<button class="form__btn" type="submit">
				Connexion
			</button>
		</div>
	</form>
{% endblock %}
