<form method="post" action="{{ path('app_apiary_delete', {'id': apiary.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ apiary.id) }}">
    <button class="btn">Delete</button>
</form>
