form {
    width: max-content;
    padding: 1rem;
    gap: 15px;
    border-radius: 15px;
}

label {
    width: 100%;
}

.form__input {
    width: 100%;
    background: var(--dark);
    border: solid 1px var(--grey);
    border-radius: 8px;
    padding: 10px 5px;
    color: var(--light)
}

.form__wrapper {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    text-align: center;
    font-size: 0.8rem;
}