<form method="post" action="{{ path('app_beekeeper_delete', {'id': beekeeper.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ beekeeper.id) }}">
	<button class="cta warning">Supprimer</button>
</form>
