{% extends 'base.html.twig' %}

{% block title %}Beebop - Page d'accueil
{% endblock %}

{% block body %}
	<header class="header">
		<h1 class="header__name">Beebop</h2>
	</header>
	<main class="home__container f-center">
		<div class="home__wrapper glass f-center f-column">
			<div class="f-column"></div>
			<div class="home__text">
				<h2>Votre compte</h2>
			</div>
			<svg version="1.1" class="home__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="800px" height="1280px" viewbox="0 0 800 1280" enable-background="new 0 0 800 1280" xml:space="preserve">
				<g id="svg__user">
					<polygon fill="none" stroke-width="10" stroke-miterlimit="10" points="587.369,568.685 400,676.861
																																						212.632,568.685 212.632,352.333 400,244.156 587.369,352.333 	"/>
					<path fill="#eee" d="M316.268,533.527c13.635-9.521,27.155-16.822,40.568-21.906c13.411-5.083,27.799-7.625,43.164-7.625
																																						c15.363,0,29.801,2.542,43.323,7.625c13.519,5.084,27.099,12.386,40.731,21.906c9.513-11.682,16.281-23.478,20.282-35.375
																																						c4.001-11.897,6.001-24.446,6.001-37.645c0-31.372-10.545-57.604-31.64-78.699c-21.094-21.095-47.323-31.641-78.698-31.641
																																						c-31.375,0-57.604,10.546-78.699,31.641c-21.095,21.095-31.642,47.327-31.642,78.699c0,13.198,2.054,25.747,6.167,37.645
																																						C299.941,510.049,306.749,521.846,316.268,533.527z M400,470.245c-12.55,0-23.098-4.273-31.642-12.82
																																						c-8.544-8.545-12.817-19.091-12.817-31.643c0-12.545,4.273-23.093,12.817-31.641c8.544-8.544,19.091-12.819,31.642-12.819
																																						c12.55,0,23.097,4.275,31.643,12.819c8.543,8.548,12.815,19.096,12.815,31.641c0,12.552-4.272,23.098-12.815,31.643
																																						C423.097,465.972,412.55,470.245,400,470.245z M400,590.321c-17.743,0-34.507-3.411-50.302-10.226
																																						c-15.796-6.813-29.588-16.118-41.379-27.908c-11.789-11.79-21.094-25.582-27.907-41.377c-6.815-15.796-10.225-32.56-10.225-50.302
																																						c0-17.958,3.41-34.779,10.225-50.464c6.813-15.684,16.119-29.426,27.907-41.216c11.791-11.79,25.583-21.094,41.379-27.908
																																						c15.795-6.817,32.559-10.225,50.302-10.225c17.957,0,34.78,3.407,50.465,10.225c15.683,6.813,29.425,16.118,41.213,27.908
																																						c11.792,11.79,21.096,25.532,27.909,41.216c6.814,15.685,10.226,32.506,10.226,50.464c0,17.743-3.411,34.506-10.226,50.302
																																						c-6.813,15.796-16.117,29.588-27.909,41.377c-11.788,11.79-25.53,21.094-41.213,27.908C434.78,586.91,417.957,590.321,400,590.321z
																																						 M400,570.849c11.901,0,23.529-1.731,34.887-5.191c11.357-3.468,22.553-9.521,33.588-18.172
																																						c-11.035-7.791-22.28-13.742-33.753-17.85c-11.46-4.114-23.04-6.167-34.722-6.167c-11.682,0-23.261,2.054-34.723,6.167
																																						c-11.471,4.108-22.715,10.059-33.752,17.85c11.037,8.651,22.229,14.704,33.588,18.172C376.471,569.118,388.097,570.849,400,570.849
																																						z M400,450.772c7.353,0,13.359-2.326,18.014-6.979c4.653-4.649,6.971-10.654,6.971-18.012c0-7.355-2.317-13.357-6.971-18.01
																																						c-4.654-4.652-10.661-6.979-18.014-6.979s-13.361,2.327-18.014,6.979c-4.653,4.653-6.973,10.655-6.973,18.01
																																						c0,7.358,2.32,13.363,6.973,18.012C386.639,448.447,392.647,450.772,400,450.772z"/>
					<line fill="none" stroke-width="10" stroke-linecap="round" stroke-miterlimit="10" x1="400" y1="219" x2="400.001" y2="69"/>
				</g>
				<g id="svg__beehive">
					<polygon fill="none" stroke-width="10" stroke-miterlimit="10" points="382.692,927.666 195.324,1035.843
																																						7.956,927.666 7.956,711.313 195.324,603.137 382.692,711.313 	"/>
					<path fill="#eee" d="M78.493,929.183V769.511c-3.03-0.433-5.945-2.598-8.76-6.49c-2.814-3.892-4.221-8.112-4.221-12.654v-41.217
																																						c0-4.977,1.945-9.462,5.843-13.469c3.892-3.998,8.437-6.002,13.628-6.002h220.681c4.974,0,9.469,2.004,13.468,6.002
																																						c4,4.007,6.002,8.492,6.002,13.469v41.217c0,4.542-1.406,8.763-4.221,12.654c-2.813,3.893-5.729,6.058-8.759,6.49v159.672
																																						c0,4.97-2.004,9.571-6.003,13.793c-3.999,4.217-8.493,6.324-13.469,6.324H97.964c-5.191,0-9.736-2.107-13.627-6.324
																																						C80.44,938.754,78.493,934.152,78.493,929.183z M97.964,769.839v159.988h194.718V769.839H97.964z M305.665,750.366v-41.217H84.983
																																						v41.217H305.665z M156.38,837.987h77.887V818.52H156.38V837.987z M97.964,929.827V769.839V929.827z"/>
					<line fill="none" stroke-width="10" stroke-linecap="round" stroke-miterlimit="10" x1="195" y1="1211" x2="195.001" y2="1061"/>
				</g>
				<g id="svg__production">
					<polygon fill="none" stroke-width="10" stroke-miterlimit="10" points="792.045,927.667 604.675,1035.844
																																						417.309,927.667 417.309,711.317 604.675,603.138 792.045,711.317 	"/>
					<path fill="#eee" d="M604.677,737c2.719,0,5.325,1.081,7.247,3.003s3.003,4.528,3.003,7.247V778
																																						c0,2.719-1.081,5.325-3.003,7.251c-1.922,1.922-4.528,2.999-7.247,2.999c-2.718,0-5.325-1.077-7.247-2.999
																																						c-1.926-1.926-3.003-4.532-3.003-7.251v-30.75c0-2.719,1.077-5.325,3.003-7.247C599.352,738.081,601.959,737,604.677,737z
																																						 M517.184,772.507c1.922-1.922,4.528-2.999,7.247-2.999s5.321,1.077,7.243,2.999l18.763,18.738
																																						c0.952,0.953,1.705,2.086,2.222,3.327c0.517,1.249,0.781,2.579,0.781,3.928c0,1.35-0.265,2.683-0.781,3.928
																																						s-1.27,2.379-2.222,3.331c-0.953,0.953-2.086,1.706-3.332,2.227c-1.245,0.513-2.578,0.777-3.928,0.777
																																						c-1.349,0-2.683-0.265-3.928-0.777c-1.245-0.521-2.378-1.273-3.331-2.227l-18.734-18.758c-1.922-1.922-2.999-4.528-2.999-7.247
																																						S515.262,774.429,517.184,772.507z M481.677,860c0-2.718,1.077-5.325,3.003-7.247c1.922-1.922,4.528-3.003,7.247-3.003h32.516
																																						c2.715,0,5.325,1.081,7.247,3.003s3.003,4.529,3.003,7.247c0,2.719-1.081,5.329-3.003,7.251s-4.532,2.999-7.247,2.999h-32.516
																																						c-2.719,0-5.325-1.077-7.247-2.999C482.754,865.329,481.677,862.719,481.677,860z M676.428,860c0-2.718,1.081-5.325,3.003-7.247
																																						s4.528-3.003,7.247-3.003h30.75c2.719,0,5.325,1.081,7.247,3.003s3.003,4.529,3.003,7.247c0,2.719-1.081,5.329-3.003,7.251
																																						s-4.528,2.999-7.247,2.999h-30.75c-2.719,0-5.325-1.077-7.247-2.999S676.428,862.719,676.428,860z M691.883,772.959
																																						c-1.418-1.413-3.319-2.242-5.317-2.314c-2.002-0.08-3.964,0.601-5.485,1.906l-85.688,73.304c-1.998,1.682-3.62,3.764-4.761,6.114
																																						c-1.142,2.351-1.774,4.913-1.862,7.519c-0.092,2.607,0.368,5.209,1.346,7.628c0.98,2.419,2.458,4.608,4.332,6.423
																																						c1.878,1.817,4.116,3.215,6.566,4.107c2.454,0.896,5.069,1.266,7.672,1.089c2.606-0.18,5.145-0.904,7.451-2.122
																																						c2.306-1.221,4.332-2.914,5.945-4.965l70.397-88.09c1.225-1.533,1.842-3.464,1.733-5.426c-0.112-1.957-0.941-3.808-2.33-5.197
																																						V772.959z"/>
					<path fill="#eee" class="svg__icone" d="M440.677,860c0.02-23.867,5.249-47.438,15.323-69.075c10.073-21.633,24.752-40.813,43.002-56.191
																																						s39.639-26.59,62.669-32.844c23.031-6.262,47.15-7.415,70.674-3.392c23.526,4.028,45.885,13.137,65.523,26.702
																																						c19.64,13.562,36.079,31.247,48.18,51.818c12.1,20.572,19.559,43.539,21.861,67.29c2.306,23.76-0.601,47.728-8.521,70.245
																																						c-9.057,25.686-37.821,32.84-60.103,25.625c-26.774-8.672-64.371-18.678-94.609-18.678c-30.217,0-67.854,10.006-94.608,18.678
																																						c-22.281,7.215-51.042,0.061-60.106-25.625C443.796,897.024,440.656,878.583,440.677,860z M604.677,716.5
																																						c-22.954-0.004-45.568,5.497-65.956,16.04c-20.388,10.542-37.949,25.82-51.21,44.559c-13.261,18.73-21.834,40.376-25.001,63.11
																																						c-3.163,22.73-0.832,45.893,6.807,67.538c4.16,11.787,18.923,17.957,34.438,12.916c27.063-8.736,67.262-19.662,100.922-19.662
																																						c33.661,0,73.881,10.906,100.923,19.679c15.52,5.024,30.278-1.146,34.442-12.933c7.631-21.646,9.97-44.808,6.798-67.538
																																						c-3.163-22.734-11.735-44.38-24.996-63.11c-13.261-18.738-30.818-34.017-51.206-44.559
																																						C650.25,721.997,627.628,716.496,604.677,716.5z"/>
					<line fill="none" stroke-width="10" stroke-linecap="round" stroke-miterlimit="10" x1="605" y1="1211" x2="605.001" y2="1061"/>
				</g>
			</svg>
			<div class="home__text">
				<h2>Gerer vos ruches</h2>
				<h2>surveiller vos productions</h2>
			</div>
		</div>
	</main>
{% endblock %}
