{% extends 'base.html.twig' %}

{% block title %}Beebop - Page d'accueil
{% endblock %}

{% block body %}
	<header class="header">
		<h2 class="header__name">Beebop</h2>
	</header>
	<section class="home">
		<nav class="home__nav">
			<ul class="home__list">
				<li class="home__item">
					<a href="#" class="home__link">Votre compte</a>
				</li>
				<li class="home__item">
					<a href="{{ path('app_apiary_index')}}" class="home__link">Gérer vos ruches</a>
				</li>
				<li class="home__item">
					<a href="#" class="home__link">Surveillez vos productions</a>
				</li>
			</ul>
		</nav>
	</section>
{% endblock %}
