<footer>
	<nav class="">
		<a href="{{ path('app_apiary_index') }}">
			<div class="nav_item nav__beehive"></div>
		</a>
		<a href="{{ path('app_product_index', {'id': beekeeperId}) }}">
			<div class="nav_item nav__prod"></div>
		</a>
		<a href="{{ path('app_beekeeper_show', {'id': beekeeperId} ) }}">
			<div class="nav_item nav__account"></div>
		</a>
	</nav>
</footer>
