<footer>
	<nav class="">
		<a href="#">
			<div class="nav_item nav__beehive"></div>
		</a>
		<a href="#">
			<div class="nav_item nav__prod"></div>
		</a>
		<a href="#">
			<div class="nav_item nav__account"></div>
		</a>
	</nav>
</footer>
