{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}
	Beebop - Page inexistante
{% endblock %}
{% block body %}
	<header class="header">
		<h1 class="header__name">Beebop</h1>
	</header>
	<h2 class="subtitle">Erreur 404 - Page inexistante</h2>
	<img src="./assets/img/ico/icon.svg" alt="beebop icone">
{% endblock %}
