{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}
Beebop - Page inexistante
{% endblock %}
{% block body %}
    <h1>Erreur 404 - Page inexistante</h1>

    <p>
        La page que vous avez demandé n'existe pas, vérifiez si vous
        n'avez pas fait de fautes dans l'URL.
        <a href="{{ path('app_login') }}">Retour à la page de connexion.</a>.
    </p>
{% endblock %}