{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}
Beebop - Page non trouvée
{% endblock %}
{% block body %}
    <h1>Page non trouvée</h1>

    <p>
        Nous n'avons pas réussi à trouver la page que vous avez
        demandé, vérifiez si vous n'avez pas 
        fait de fautes dans l'URL.
        <a href="{{ path('app_login') }}">Retour à la page de connexion</a>.
    </p>
{% endblock %}